# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environment / virtualenv
.env
.venv/
venv/
env/
ENV/
*.env

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python build / distribution
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/